# <center>Python Collections</center> 
There are four collection data types in the Python:

- **List** is a collection which is ordered and ***changeable/mutable***. Allows ***duplicate*** members.
- **Tuple** is a collection which is ordered and ***unchangeable/immutable***. Allows ***duplicate*** members.
- **Set** is a collection which is unordered and ***unindexed***. ***No duplicate*** members.
- **Dictionary** is a collection which is unordered, ***changeable/mutable*** and ***indexed***. ***No duplicate*** members.

## <center>List</center>

In [221]:
nums = [25, 12, 36, 95]
print (nums)

[25, 12, 36, 95]

##### Access Items

In [222]:
nums[3]

95

In [223]:
nums[4]

IndexError: list index out of range

In [224]:
nums[2:]

[36, 95]

In [225]:
nums[:]

[25, 12, 36, 95]

In [226]:
nums[:2]

[25, 12]

##### list index step forword

In [227]:
nums[0::2]

[25, 36]

##### Negative Index

In [228]:
print (nums)
len(nums)

[25, 12, 36, 95]

4

In [229]:
nums[-1]

95

In [230]:
nums[-4]

25

In [231]:
nums[-5]   #try this

IndexError: list index out of range

In [232]:
names = ['Rahul', 'Ketan kadu', 'vikash']

In [236]:
print (names)
print (names[-1])
print (names[0:-1])
print (names[-1:])
print (names[-2])

['Rahul', 'Ketan kadu', 'vikash']
vikash
['Rahul', 'Ketan kadu']
['vikash']
Ketan kadu

##### list index step back

In [240]:
nums = [25, 12, 36, 95]
nums[::-2]

[95, 12]

In [239]:
print (names[::-1])

['vikash', 'Ketan kadu', 'Rahul']

#### reverse():   Reverse lists

In [241]:
print (names) 
names.reverse()
print (names)

['Rahul', 'Ketan kadu', 'vikash']
['vikash', 'Ketan kadu', 'Rahul']

In [242]:
strings = 'python is awesome'
print (strings[::-1])

emosewa si nohtyp

In [254]:
print(''.join(reversed(strings)))
x = ['10','python','3']
print ("x:", x)
print(' '.join(x))
print (reversed(strings))

emosewa si nohtyp
x: ['10', 'python', '3']
10 python 3
<reversed object at 0x07121D50>

##### Change Item Value

In [255]:
print (nums)
nums[1] = 13
print (nums)

[25, 12, 36, 95]
[25, 13, 36, 95]

In [258]:
names = ['Rahul',
         'Ketan kadu',
         'vikash']
names[3] = 'Neyaz'      #try this
print (names)

IndexError: list assignment index out of range

In [259]:
values = [9.5, 'Springer', 25]   #Diffrent Data
print (values)

[9.5, 'Springer', 25]

##### Removes the specified index
  - Remove an element from list by index

In [260]:
del values[1]
del values[1]
print (values)

[9.5]

- Remove an element from list by value

In [261]:
my_list=['java','python','c#']
print (my_list)
my_list.remove('java')
print (my_list)

['java', 'python', 'c#']
['python', 'c#']

###### Delete complete list

In [262]:
list1 = [1, 9.5, 'hello']
print (list1)
del list1

[1, 9.5, 'hello']

In [263]:
print (list1)

NameError: name 'list1' is not defined

#### The ***clear()*** method empties the list

In [264]:
list_of_string = ["Python", "C#", "Java", 'Perl']
print (list_of_string)
list_of_string.clear()
print(list_of_string)

['Python', 'C#', 'Java', 'Perl']
[]

##### Define emphty list

In [268]:
list_init = []
print (list_init)

[]

##### 2D List

In [269]:
print (nums, names)

[25, 13, 36, 95] ['Rahul', 'Ketan kadu', 'vikash']

In [270]:
mil = [nums, names]

In [271]:
print (mil)

[[25, 13, 36, 95], ['Rahul', 'Ketan kadu', 'vikash']]

In [272]:
print (mil[0])

[25, 13, 36, 95]

In [273]:
print (mil[0][1])

13

In [274]:
print (mil[1][0])

Rahul

In [275]:
print (dir(mil))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### Sorting list in ascending order

In [276]:
nums = [25, 12, 36, 95]
help(nums.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.

In [277]:
print (nums.sort())

None

In [278]:
print (nums)

[12, 25, 36, 95]

In [279]:
names = ['Rahul', 'Ketan kadu', 'vikash']
names.sort()
print (names)

['Ketan kadu', 'Rahul', 'vikash']

### Sorting list in descending

In [280]:
nums.sort(reverse=True)
print (nums)

[95, 36, 25, 12]

### Sorting user defined order

In [284]:
list_2d = [("Java", 2), ("C#sdsdfdf", 3), ("python", 1)] 
list_2d.sort()

In [285]:
print (list_2d)

[('C#sdsdfdf', 3), ('Java', 2), ('python', 1)]

##### To Sort a list of strings by length, provide len() as key function in sort

In [283]:
list_Of_Strings = ['hi' , 'hello', 'at', 'this', 'there', 'from']

In [286]:
list_Of_Strings.sort(key=len)
print(list_Of_Strings)

['hi', 'at', 'this', 'from', 'hello', 'there']

##### To Sort a list of strings by int type, provide lint() as key function in sort

In [287]:
nums = ['1', '6', '55' , '101', '152', '98', '233', '40', '67']
nums.sort()
print(nums)

['1', '101', '152', '233', '40', '55', '6', '67', '98']

In [288]:
nums.sort(key=int)
print(nums)

['1', '6', '40', '55', '67', '98', '101', '152', '233']

In [289]:
nums.sort(key=int, reverse=True)
print(nums)

['233', '152', '101', '98', '67', '55', '40', '6', '1']

##### To Sort a list using second key

In [290]:
nums = [1, 6, 55, 101, 152, 98, 233, 40, 67]
nums.sort()
print(nums)

[1, 6, 40, 55, 67, 98, 101, 152, 233]

In [291]:
list = [(1, 2), (3, 3), (2, 1)] 
list1 = [("Java", 2), ("C#", 3), ("python", 1)]

In [293]:
#sort using second key
def sort_second_key(val): 
    return val[1]

In [294]:
list.sort(key = sort_second_key)  
print(list)

[(2, 1), (1, 2), (3, 3)]

In [295]:
list1.sort(key = sort_second_key)  
print(list1)

[('python', 1), ('Java', 2), ('C#', 3)]

### Copy a List
You cannot copy a list simply by typing *list2 = list1*, because: *list2* will only be a reference to *list1*, and changes made in *list1* will automatically also be made in *list2*

In [296]:
list1 = ['python', 3.7, 'awesome']

In [297]:
list2=list1
print (list2)

['python', 3.7, 'awesome']

In [298]:
print (id(list1))
print (id(list2))

118908048
118908048

In [299]:
list2[1]=2.7

In [300]:
print (list2)

['python', 2.7, 'awesome']

In [301]:
print(list1)

['python', 2.7, 'awesome']

In [302]:
list3 = ['java', '7', 'good']
list4 = ['java', '7', 'good']

In [303]:
print (id(list3))
print (id(list4))

118208272
118988032

###### Make a copy of a list with the copy() method:

In [304]:
list3 = list1.copy()
print (list1, id(list1))
print (list3, id(list3))

['python', 2.7, 'awesome'] 118908048
['python', 2.7, 'awesome'] 118985512

In [306]:
list3[1] = 3.9

In [307]:
print (list1, id(list1))
print (list3, id(list3))

['python', 2.7, 'awesome'] 118908048
['python', 3.9, 'awesome'] 118985512

###### Make a copy is to use the built-in method list()

In [88]:
list4 = list(list1)
print (list1, id(list1))
print (list4, id(list4))

['python', 2.7, 'awesome'] 85023080
['python', 2.7, 'awesome'] 88991824

In [308]:
list4[1] = 3.8

In [309]:
print (list1, id(list1))
print (list4, id(list4))

['python', 2.7, 'awesome'] 118908048
['java', 3.8, 'good'] 118988032

In [310]:
my_list=["a","a","a","b","c","c"]
print(dir(my_list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

##### count():   Count the occurrences of a given item in the list

In [311]:
print (callable(my_list.count))
print (help(my_list.count))

True
Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

None

In [312]:
print(my_list.count('a'))
print(my_list.count('b'))
print(my_list.count('x'))

3
1
0

#### Python Membership Operators 
- in
- not in 

###### Test if a given value is in the list

In [313]:
nums = [10,20,30,40,50]
25 in nums

False

In [314]:
25 not in nums

True

In [315]:
20 in nums

True

In [316]:
x = 20
if x in nums:
    print(str(x) + " exist in nums")
else:
    print(str(x) + " not exist in nums")

20 exist in nums

#####  Iterate over a list

In [318]:
for x in nums:
    print(x)

10
20
30
40
50

##### Iterate over a list with indexes

In [319]:
for i, v in enumerate(nums):
    print (i, v)

0 10
1 20
2 30
3 40
4 50

##### Find the index of the first occurrence of a given value

In [320]:
my_list=["a","a","a","b","c","c"]
print (my_list.index('c'))
print (my_list.index('a'))

4
0

In [321]:
print (my_list.index('d'))

ValueError: 'd' is not in list

In [322]:
find_val = 'd'
if find_val in my_list:
    print (my_list.index(find_val))
else:
    print (find_val +" not found")

d not found

### Insert a new element in the list at a given index

In [323]:
my_list = [9.5,10,100,50,'3.8']
my_list

[9.5, 10, 100, 50, '3.8']

In [324]:
my_list.insert(4, 'Python')
my_list

[9.5, 10, 100, 50, 'Python', '3.8']

In [325]:
my_list.insert(0, 'Java')
my_list

['Java', 9.5, 10, 100, 50, 'Python', '3.8']

### Append a new element to the list

In [326]:
my_list.append('Java')
my_list

['Java', 9.5, 10, 100, 50, 'Python', '3.8', 'Java']

In [327]:
my_list.append(['Perl', '5.10'])
my_list

['Java', 9.5, 10, 100, 50, 'Python', '3.8', 'Java', ['Perl', '5.10']]

###  Extend a list with another list

In [328]:
my_list.extend(['C#', 'Scala'])
print (my_list)

['Java', 9.5, 10, 100, 50, 'Python', '3.8', 'Java', ['Perl', '5.10'], 'C#', 'Scala']

### Remove the item at the given position in the list
Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list

In [329]:
 my_list.pop()

'Scala'

In [330]:
print (my_list)

['Java', 9.5, 10, 100, 50, 'Python', '3.8', 'Java', ['Perl', '5.10'], 'C#']

In [331]:
my_list.pop(-1)

'C#'

In [332]:
print (my_list)

['Java', 9.5, 10, 100, 50, 'Python', '3.8', 'Java', ['Perl', '5.10']]

In [333]:
my_list.pop(0)

'Java'

In [334]:
print (my_list)

[9.5, 10, 100, 50, 'Python', '3.8', 'Java', ['Perl', '5.10']]

### Concatanate lists

In [335]:
my_list=[1,2,3]
my_list= my_list + [4,5,6] 
my_list

[1, 2, 3, 4, 5, 6]

### Duplicate a list

In [204]:
my_list=[1,2] * 3
my_list

[1, 2, 1, 2, 1, 2]