# <center>Tuple</center>
**Tuple** is a collection which is ordered and **unchangeable/immutable**. Allows duplicate members.

In [98]:
my_tuple = ("Samsung", "Nokia", "MI", "Apple")
print(my_tuple)
print(type(my_tuple))

('Samsung', 'Nokia', 'MI', 'Apple')
<class 'tuple'>

##### Access Tuple Items

In [99]:
print(my_tuple[1])

Nokia

In [100]:
print(my_tuple[4])

IndexError: tuple index out of range

In [101]:
my_tuple[2:]

('MI', 'Apple')

In [102]:
my_tuple[:3]

('Samsung', 'Nokia', 'MI')

In [103]:
my_tuple[:-1]

('Samsung', 'Nokia', 'MI')

In [104]:
my_tuple[:]

('Samsung', 'Nokia', 'MI', 'Apple')

##### Accessing values through loop

In [105]:
for x in my_tuple:
  print(x)

Samsung
Nokia
MI
Apple

##### touple index step forword

In [106]:
my_tuple[0::2]

('Samsung', 'MI')

##### Negative Index

In [107]:
print (my_tuple)
len(my_tuple)

('Samsung', 'Nokia', 'MI', 'Apple')

4

In [108]:
my_tuple[-1]

'Apple'

In [109]:
my_tuple[-4]

'Samsung'

In [110]:
my_tuple[-5]

IndexError: tuple index out of range

In [112]:
print (my_tuple)
print (my_tuple[-1])
print (my_tuple[0:-1])
print (my_tuple[-1:])
print (my_tuple[-2])

('Samsung', 'Nokia', 'MI', 'Apple')
Apple
('Samsung', 'Nokia', 'MI')
('Apple',)
MI

##### Tuple index step back

In [113]:
nums = (25, 12, 36, 95)
nums[::-2]

(95, 12)

In [114]:
print (my_tuple[::-1])

('Apple', 'MI', 'Nokia', 'Samsung')

In [115]:
print (dir(my_tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [116]:
nums_list = [25, 12, 36, 95]
print (dir(nums_list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

##### Check if Item Exists

In [117]:
my_tuple = ("Samsung", "Nokia", "MI", "Apple")
if "Nokia" in my_tuple:
  print("Yes, 'Nokia' is in the my_tuple")

Yes, 'Nokia' is in the my_tuple

##### Tuple Length

In [118]:
print(len(my_tuple))

4

##### Tuples are unchangeable/immutable

In [119]:
my_tuple[3] = 'Oppo'

TypeError: 'tuple' object does not support item assignment

In [120]:
del my_tuple[1]

TypeError: 'tuple' object doesn't support item deletion

In [122]:
del my_tuple

NameError: name 'my_tuple' is not defined

- **tuple()** Constructor

In [123]:
phone_brand = tuple(("Samsung", "Nokia", "MI", "Apple"))

In [124]:
print (phone_brand)

('Samsung', 'Nokia', 'MI', 'Apple')

In [125]:
phone_brand = tuple(["Samsung", "Nokia", "MI", "Apple"])
print (phone_brand)

('Samsung', 'Nokia', 'MI', 'Apple')

In [126]:
phone_brand = tuple(" Samsung, Nokia, MI, apple".replace(', ', ',').strip().split(','))
print(phone_brand)

('Samsung', 'Nokia', 'MI', 'apple')

In [130]:
phone_brand = list(" Samsung,Nokia, MI, apple".replace(', ', ',').strip().split(','))
print(phone_brand)

['Samsung', 'Nokia', 'MI', 'apple']

In [129]:
phone_brand = list(" Samsung,Nokia, MI, apple".strip().split(', '))
print(phone_brand)

['Samsung,Nokia', 'MI', 'apple']

In [132]:
my_tuple = ("Samsung", "Nokia", "MI", "Apple")
print (help(my_tuple.index))

Help on built-in function index:

index(value, start=0, stop=2147483647, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

None

- **index()** method find the index of the first occurrence of a given value

In [133]:
my_touple=("a","a","a","b","c","c")
print (my_touple.index('c'))
print (my_touple.index('a'))

4
0

In [134]:
print (my_list.index('d'))

ValueError: tuple.index(x): x not in tuple

In [135]:
find_val = 'd'
if find_val in my_touple:
    print (my_touple.index(find_val))
else:
    print (find_val +" not found")

d not found

In [136]:
print (help(my_tuple.count))

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

None

- **count()** method return number of occurrences of value

In [137]:
my_touple = ("a","a","a","b","c","c")
my_touple.count('a')

3

##### Concatanate lists

In [138]:
my_tuple=(1,2,3)
print (id(my_tuple))
my_tuple= my_tuple + (4,5,6) 
print (id(my_tuple))
print (my_tuple)

85766312
85784872
(1, 2, 3, 4, 5, 6)

##### Duplicate a tuple

In [139]:
my_tuple=(1,2) * 3
my_tuple

(1, 2, 1, 2, 1, 2)