# <center>Function</center>

**Creating a Function**
- In Python a function is defined using the **def** keyword

In [166]:
def hello():
    print("Hello from a function")

In [167]:
def return_num():
    return 10

**Calling a Function**

In [168]:
print (hello)
hello

<function hello at 0x0ACB93D8>

In [169]:
hello()

Hello from a function

In [170]:
x = return_num()
print (x)

10

**Function Parameters**

All parameters (arguments) in the Python language are passed by reference. 

- Required arguments
- Keyword arguments
- Default arguments
- Variable-length arguments

In [172]:
def changeme( mylist ):
   mylist.extend([1,2,3,4]);
   print ("Values inside the function: ", mylist)
   return

mylist = [10,20,30];
changeme( mylist );
print ("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, 1, 2, 3, 4]
Values outside the function:  [10, 20, 30, 1, 2, 3, 4]

In [173]:
def changeme( mylist ):
   "This changes a passed list into this function"
   mylist = [1,2,3,4]; # This would assig new reference in mylist
   print ("Values inside the function: ", mylist)
   return

mylist = [10,20,30];
changeme( mylist );
print ("Values outside the function: ", mylist)

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [176]:
def printme( str ):
   print (str)
   return;

printme()

TypeError: printme() missing 1 required positional argument: 'str'

- **Keyword arguments**

In [177]:
def printme( str ):
   print (str)
   return;

printme( str = "My string")

My string

In [185]:
def printinfo( name, age ):
   print ("Name: " + name)
   print ("Age: "+ str(age))
   return;
printinfo( "neyaz", "29" )
printinfo( "29", "neyaz" )
printinfo( age=29, name="Rahul" )

Name: neyaz
Age: 29
Name: 29
Age: neyaz
Name: Rahul
Age: 29

- **Default Parameter Value**

In [186]:
def my_function(country = "India"):
  print("I am from " + country)

my_function("USA")
my_function("India")
my_function()
my_function("Brazil")

I am from USA
I am from India
I am from India
I am from Brazil

In [187]:
def printinfo( name, age = 30 ):
   print ("Name: ", name)
   print ("Age "+ str(age))
   return;

printinfo( age=28, name="Rahul" )
printinfo( name="Suman" )

Name:  Rahul
Age 28
Name:  Suman
Age 30

- **Variable-length arguments**

**\*name**: it receives a tuple

In [190]:
def printinfo( arg1, *vartuple ):
   print ("Output is: ")
   print ("arg1", arg1)
   for var in vartuple:
      print (var)
   return;

printinfo(10)

Output is:
arg1 10

In [197]:
printinfo( 70,0, [1, 23], "str" )

Output is:
arg1 70
0
[1, 23]
str

**\*\*name**: it receives a dictionary

In [160]:
def lang_info(arg1, *arguments, **keywords):
    print("- Aargument 1: ", arg1)
    print("-" * 40)

    for arg in arguments:
        print("-- ARGS -- ", arg)
  
    print("-" * 40)

    for kw in keywords:
        print("---", kw, ":", keywords[kw])

In [201]:
lang_info("Python")

- Aargument 1:  Python
----------------------------------------
----------------------------------------

In [202]:
lang_info("Python", 10, 20, 'java')

- Aargument 1:  Python
----------------------------------------
-- ARGS --  10
-- ARGS --  20
-- ARGS --  java
----------------------------------------

In [199]:
lang_info("Python", "It's very awesome, sir.",
           "It's really very, VERY awesome, sir.",
           language="Python",
           version="3.8",
           author="Guido",
            )

- Aargument 1:  Python
----------------------------------------
-- ARGS --  It's very awesome, sir.
-- ARGS --  It's really very, VERY awesome, sir.
----------------------------------------
--- language : Python
--- version : 3.8
--- author : Guido

## Python Docstrings
Python documentation strings (or docstrings) provide a convenient way of associating documentation with Python modules, functions, classes, and methods

**Function with docstring**

In [203]:
def power(a, b): 
    """Returns arg1 raised to power arg2."""
   
    return a**b

In [204]:
help(power)

Help on function power in module __main__:

power(a, b)
    Returns arg1 raised to power arg2.

In [205]:
power(2, 3)

8

**Accessing Docstrings:** The docstrings can be accessed using the **\_\_doc\_\_** method of the object or using the help function.

In [206]:
print ("Using __doc__:")
print (power.__doc__)

Using __doc__:
Returns arg1 raised to power arg2.

In [207]:
def my_function(arg1): 
    """ 
    Summary line. 
  
    Extended description of function. 
  
    Parameters: 
    arg1 (int): Description of arg1 
  
    Returns: 
    int: Description of return value 
  
    """
  
    return arg1

In [208]:
help(my_function)

Help on function my_function in module __main__:

my_function(arg1)
    Summary line.

    Extended description of function.

    Parameters:
    arg1 (int): Description of arg1

    Returns:
    int: Description of return value

In [27]:
my_function(10)

10

# Modules

**Create a Module**

Save this code in a file named mymodule.py

In [55]:
#def greeting(name):
#  print("Hello, " + name)

**Use a Module**

In [209]:
import mymodule
mymodule.greeting("neyaz")

Hello, neyaz

In [210]:
from mymodule import greeting
greeting("neyaz")

Hello, neyaz

In [211]:
import random
for i in range(5):
   value = random.randint(1, 6)
   print(value)

5
3
5
4
4

In [214]:
from math import pi
print(pi)
import math
print(math.pi)

3.141592653589793
3.141592653589793

In [215]:
from math import sqrt as s
print(s(100))

10.0

In [216]:
import my_module

ModuleNotFoundError: No module named 'my_module'

In [217]:
import pandas as pd
import numpy as np
data =  pd.read_csv('D:\python_training\startups_company.csv')
#print (data.head(10))
data.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [218]:
data.iloc[1:5,3]

1    California
2       Florida
3      New York
4       Florida
Name: State, dtype: object

In [219]:
state = data.iloc[:,3].values

In [220]:
state

array(['New York', 'California', 'Florida', 'New York', 'Florida',
       'New York', 'California', 'Florida', 'New York', 'California',
       'Florida', 'California', 'Florida', 'California', 'Florida',
       'New York', 'California', 'New York', 'Florida', 'New York',
       'California', 'New York', 'Florida', 'Florida', 'New York',
       'California', 'Florida', 'New York', 'Florida', 'New York',
       'Florida', 'New York', 'California', 'Florida', 'California',
       'New York', 'Florida', 'California', 'New York', 'California',
       'California', 'Florida', 'California', 'New York', 'California',
       'New York', 'Florida', 'California', 'New York', 'California'],
      dtype=object)